.preferences {
  .controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .zipcode {
      width: fit-content;
      .sub-label {
        font-size: 12px;
      }
      .zip-input {
        padding: 8px;

        width: 80px;

        input {
          padding: 8px 16px;
          text-align: center;
        }
      }
    }

    .sliders {
      flex-grow: 1;
      .preferences-slider {
        height: 50px;
        margin: 12px 20px;
      }
    }

    .zipcode,
    .sliders {
      background-color: white;
      border-radius: 16px;
      box-shadow: 2px 3px 9px 0px #0000005c;
      padding: 20px;
      margin: 0 10px 20px;
      max-width: 400px;
      min-width: 240px;
    }
  }
}
